.ant-modal-content .ant-modal-body {
    padding: 0 !important;
    margin: 0 !important;
    .modal-body {
        padding: 20px 35px 0px 35px;
    }
}
.modal-header {
    align-items: center;
    //box-shadow: 0 1px 4px 0 rgb(0 128 255 / 18%);
    border-bottom: 1px solid rgba(0, 128, 255, 0.25);
    border-radius: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.modal-title {
    font-weight: 500;
    font-family: "Roboto-Medium", arial;
    font-size: 20px;
    color: #304460;
    padding-left: 8px;
}
.ant-modal-close-x {
    color: #ff3f3f;
    opacity: 1;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-shadow: none;
    float: none;
    line-height: 35px !important;
    outline: none;
}
.ant-modal-close:focus {
    outline: none !important;
}
.ant-modal-footer {
    display: none;
}
.ant-modal-body .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px;
    border: none;
    button:first-child {
        margin-right: 15px;
    }
}

.scb-modal {
    .ant-modal-close-x {
        display: none;
    }
    .modal-body {
        text-align: center;
        padding-bottom: 0px;
        .modal-img {
            padding-bottom: 25px;
            padding-top: 16px;
        }
        .modal-note {
            font-size: 18px;
            text-align: center;
            color: #666b77;
        }
        .ant-btn {
            margin-right: 15px;
        }
        .container-fluid .ant-form-item {
            margin-bottom: 0px !important;
        }
    }
    .modal-content {
        border: none;
        .modal-footer {
            button:first-child {
                margin-right: 15px;
            }
        }
    }
    .ant-modal-content {
        border-radius: 5px !important;
    }
}
