.book {
    .title {
        &__card {
            border-bottom: none;
        }
    }
    .ant-card-body {
        padding: 15px;
        box-shadow: 0 1px 3px #0000001f, 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .ant-card {
        padding: unset;
    }

    .btn {
        min-width: 20px;
    }

    &__content {
        @include fw-normal;
        font-size: 16px;
        color: #000;
        text-align: left;
        padding-bottom: 10px;
    }

    &__btn {
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(center);
    }
    .support-book {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
    }
}

.slider {
    overflow: hidden;

    .slick-disabled {
        .las {
            opacity: 0.3;
        }
    }

    .slick-arrow {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 5;
        font-size: 30px;
        cursor: pointer;
    }

    .slick-next {
        top: 35%;
        right: -25px;
        img {
            width: 32px;
        }
    }

    .slick-prev {
        top: 35%;
        left: -25px;
        img {
            width: 32px;
            transform: rotate(180deg);
        }
    }

    .slick-slide {
        padding: 2px 11px;
        height: 100%;
    }

    .slick-dots {
        position: absolute;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        li {
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: relative;
            display: inline-block;
            margin: 0 5px;
            padding: 0;
            &.slick-active {
                button {
                    &::before {
                        opacity: 0.75;
                        color: #000;
                    }
                }
            }
            button {
                font-size: 0;
                line-height: 0;
                display: block;
                padding: 5px;
                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
                &:before {
                    font-family: slick;
                    font-size: 20px;
                    line-height: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    content: "\2022";
                    text-align: center;
                    opacity: 0.25;
                    color: #000;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
        }
    }
}

.home__slider {
    padding-bottom: 25px;
    position: relative;
    .slick-track {
        display: flex;
    }
    .book {
        .ant-card {
            margin-bottom: 10px;
        }
    }
}

.item {
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    .image {
        @include flex_center;
        margin-bottom: 10px;
        width: 100%;
        padding-top: 100%;
        position: relative;
        img {
            @include transform(translate(-50%, -50%));
            object-fit: contain;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
        }
        .link {
            opacity: 0;
            z-index: -1;
            height: 40px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            height: 40px;
            width: 124px;
            color: #fcfcfc;
            background-color: #6d30ab;
            transition: all 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &::before {
            position: absolute;
            content: "";
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s;
            z-index: 2;
        }
    }
    &:hover {
        .link {
            opacity: 1;
            z-index: 3;
        }
        .image {
            &::before {
                // border: solid 1px #1e9ff2;
                height: 100%;
            }
        }
    }
}
