$icons: bars user cogs paper-plane pie-chart;

.header {
    @include justify-content(space-around);
    @include flexbox;
    @include align-items(center);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    min-height: 40px;
    color: #000;

    @media (max-width: 767px) {
        position: fixed;
        width: 100%;
        z-index: 9;
    }

    &__logo {
        padding: 20px 0;

        .logo {
            width: 100%;
            max-width: 50px;
            height: 100%;
            max-height: 30px;
        }
    }

    &__menu {

        .ant-menu-horizontal {
            border-bottom: unset;
        }

        .anticon {
            font-size: 22px;
        }
    }

    &__icon {
        font-size: 15px;
    }

    &__item {
        a {
            text-decoration: none;
            font-size: 15px;
        }
    }

    .cart {
        display: flex;
        justify-content: center;

        &__number {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &--cartIcon {
                font-size: 25px;
                margin-right: 5px;
            }

            &--num {
                position: absolute;
                width: 20px;
                height: 20px;
                padding: 0px 6px;
                border-radius: 50%;
                background-color: #1890ff;
                color: white;
                top: -12px;
                right: 4px;
                transition: all 0.3s ease-out;
            }
        }

        &__buttons {
            transition: all 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                background-color: #1890ff;
                border: none;
                outline: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #eb4d4b;
                }
            }


            &--addToCart {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                color: #fff;
                transition: all 0.3s;
                z-index: 100;
            }
        }
    }
}